body{
  background-color:#ACDDDE;

}

 #bild{
  height: 100px;
  width: 240px;
  margin: auto;
  margin-bottom: 1%;
  background-image: url("images/bild1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
}
/*meny container*/
#menu{
  border-bottom: 1px solid #A1998D;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -5px;
}

#welcome-sign{
  font-size:40px;
  text-transform: capitalize;
  cursor: default;
  user-select: none;
  margin-left: 10px;
  color: black;
  font-family: arial;
}

#logout-button{
  float:right;
  background-color: white;
  color: black;
  font-family: arial;
  font-size: 23px;
  transition-duration: 0.3s;
  width: 10%;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 45%;
  border: 1px solid black;
}

#logout-button:hover{
  background-color: green;
  color: white;
}
/*Create post knapp*/
#btn123{
  background-color: white;
  color: black;
  font-family: arial;
  font-size: 16px;
  transition-duration: 0.2s;
  width: 10%;
  height: 40px;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  margin-left: 45%;
}
#btn123:hover{
   background-color: green;
   color:white;
}
